CME2202 - Data Organization And Management/HW1 - Log Converter/HW1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="LogData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Device" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DeviceID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z]{3}[0-9]{4}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Timestamp" type="xs:string"/>
              <xs:element name="Temperature" type="xs:double"/>
              <xs:element name="Humidity">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="-1"/>
                    <xs:maxInclusive value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Status" type="xs:string"/>
              <xs:element name="Location">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="30"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AlertLevel">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="LOW"/>
                    <xs:enumeration value="MEDIUM"/>
                    <xs:enumeration value="HIGH"/>
                    <xs:enumeration value="CRITICAL"/>
                    <xs:enumeration value=""/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Battery">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="-1"/>
                    <xs:maxInclusive value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FirmwareVersion" type="xs:string"/>
              <xs:element name="EventCodeDecimal">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="EventCodeHexBigEndian" type="xs:string"/>
              <xs:element name="EventCodeHexLittleEndian" type="xs:string"/>
              <xs:element name="EventCodeDecimalFromLittleEndian">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="65535"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>